/target/
!.mvn/wrapper/maven-wrapper.jar
/*
!/Jenkinsfile
!/codequality
!/src
!/pom.xml
!/.gitattributes
!/.gitignore

# Exclude all IDEA config files (multimodule case)
/**/*.iml
!/README.md
src/main/resources/static/
src/main/resources/templates/
